{% extends 'base.html.twig' %}

{% block title %}Hello hg   !{% endblock %}

{% block body %}
<table class="table table-hover">

  <thead>
    <tr>
      <th scope="col">Servey Type</th>
      <th scope="col">ِِAction</th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}
    <tr>
      {# <th scope="row">Default</th> #}
      <td>{{ category.name }}</td>
      <td> 
      <a href="{{ path("survey", {id: category.id}) }}">Start servey</a>
      </td>
    </tr>
     
    {% endfor %}
    
  </tbody>
</table> 

{% endblock %}
